[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "cool-peco"]
	path = cool-peco
	url = https://github.com/ryoppy/cool-peco.git
	ignore = dirty
[submodule "submod-repo"]
	ignore = dirty
