[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
	ignore = dirty
[submodule "zsh/cool-peco"]
	path = zsh/cool-peco
	url = https://github.com/ryoppy/cool-peco.git
	ignore = dirty
