# chezmoi configuration file
# This file is a template and will be rendered by chezmoi

[data]
    name = "taakuuyaa"
    email = "51745522+taakuuyaa@users.noreply.github.com"

[git]
    autoCommit = true
    autoPush = false

[diff]
    format = "git"
    pager = "diff-so-fancy"